*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    text-align: center;
    text-shadow: 5px 0px rgba(0, 0, 0, 0.637);
    color: white;
}