@charset "UTF-8";

@media (min-width: 768px){
    #tela_login{
        display: flex;
        flex-direction: row;
        width: 80vw;
        height: 70vh;
    }

    #entradas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3vh;
        width: 50vw;
    }

    #imagem{
        background-image: url(../imagens/crianca.jpeg);
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        /* border-radius: 15px 15px 0px 0px; */
    }

    #imagem_conteiner{
        width: 50vw;
    }

    .ajustes_botao2{
        width: 37vw;
    }

    .teste{
        width: 37vw;
    }

    #entradas{
        gap: 10vh;
        padding: 10px 0px;
    }

    #entradas > #informacoes{
        font-size: 1.3em;
    }

    #informacoes > p{
       margin: 20px auto;
    }
}