@charset "UTF-8";

@media (max-width: 1200px){

    #lista_menu{
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #49a09d;
        height: 0px;
        width: 100%;
        visibility: hidden;
        transition: .4s;
        overflow-y: hidden;
        z-index: 1000;
    }

    #menu.ativado #lista_menu{
        visibility: visible;
        height: calc(100vh - 70px);
    }
    #lista_menu > li{
        margin-bottom: 20px;
        padding: 20px 2px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.185);
    }

    #lista_menu > li > a{
        font-size: 1.2em;
    }

    #btn-menu{
        visibility: visible;
    }

    #ham{
        display: block;
        color: white;
        border-top: 2px solid;
        width: 20px;
    }

    #ham:hover{
        color: #5f2c82;
    }

    #ham::after, #ham::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
    }

    #menu.ativado #ham{
        border-top-color: transparent;
    }

    #menu.ativado #ham::before{
        transform: rotate(135deg);
        transition: .3s;
    }

    #menu.ativado #ham::after{
        position: relative;
        transform: rotate(-135deg);
        transition: .3s;
        top: -7px;
    }
}

@media (min-width: 900px) and (min-height: 545px){
    body{
        background: linear-gradient(to top, #49a09d 20%, #602c82b2, #5f2c82 80%);
    }

    #tela_login{
        display: flex;
        flex-direction: row;
        height: 59vh;
        width: 50vw;
    }

    #imagem{
        background-image: url(../imagens/crianca.jpeg);
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        /* border-radius: 15px 15px 0px 0px; */
    }

    #entradas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 3vh;
        width: 50vw;
    }

    .ajusta_entrada{
        height: 33px;
        width: 95%;
    }

    .ajusta_entrada::placeholder{
        font-size: 0.9em;
    }

    .ajustes_botao2{
        height: 43px;
        width: 25vw;
    }

    .teste{
        height: 43px;
        width: 25vw;
    }

}

@media (min-width: 1200px) and (min-height: 730px){
    #tela_login{
        display: flex;
        flex-direction: row;
        max-height: 60vh;
        min-height: 50vh;
        max-width: 60vw;
        min-width: 50vw;
    }

    #entradas{
        gap: 5vh;
    }

    #imagem_conteiner{
        width: 50vw;
    }

    #entradas > #informacoes{
        font-size: 1.1rem;
    }

    #informacoes > p{
       margin: 20px auto;
    }
}

