@charset "UTF-8";

/* #49a09d  VERDE
#5f2c82 LILÃS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

body{
    background-color: var(--lilas);
}

img{
    max-width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}


main > #tela_login > #entradas > #informacoes > h1{
    text-align: center;
}

main > #tela_login > #entradas >#informacoes > p{
    padding: 5px;
    font-size: 0.9em;
}

#entradas{
    margin: 1vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagem{
    background-image: url(../imagens/crianca.jpeg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    /* border-radius: 15px 15px 0px 0px; */
}

#tela_login{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 510px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.ajusta_login{
    padding: 5px;
}

.ajusta_entrada{
    height: 33px;
    width: 85%;
    border-radius: 15px;
    outline: none;
    border: 1px solid var(--lilas);
    font-size: 1.1em;
    padding-left: 8px;
}

#organiza_div{
    margin-top: 10px;
}

.ajusta_entrada::placeholder{
    font-size: 0.9em;
}

#botao_entrar{
    background-color: var(--verde);
    color: white;
}

.ajustes_botao2{
    border: 1px solid var(--verde);
    height: 43px;
    width: 260px;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
}

#botao_esqueceu{
    background-color: white;
    color: var(--verde);
}

.teste{
    height: 43px;
    width: 260px;
    background-color: #5f2c82;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}