@charset "UTF-8";

/* #49a09d  VERDE
#5f2c82 LILÁS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

body{
    background-color: var(--lilas);
}

img{
    max-width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
    width: 100vw;
    overflow-y: auto;
}

ul{
    list-style: none;
}

main > #tela_login > #entradas > #informacoes > h1{
    text-align: center;
}

main > #tela_login > #entradas >#informacoes > p{
    padding: 5px;
    font-size: 0.9em;
}

a{
    color: white;
    text-decoration: none;
}

#back_menu{
    height: 70px;
    background-color: var(--verde);
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

#logo{
    font-size: 1.6em;
    font-weight: 700;
}

#logo:hover{
    color: rgba(0, 0, 0, 0.479);
    transition: 300ms;
}

#lista_menu{
    display: flex;
    margin-right: 10px;
}

#lista_menu > li > a{
    padding: 8px;
    font-weight: 700;    
}

#lista_menu > li > a:hover{
    color: rgba(0, 0, 0, 0.479);
    transition: 300ms;
}

#entradas{
    margin: 1vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagem_conteiner{
    height: 100%;
    width: 100%;
}

#imagem{
    background-image: url(../imagens/crianca.jpeg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    /* border-radius: 15px 15px 0px 0px; */
}

#tela_login{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 510px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    /* O overflow hidden irá esconder qualquer conteúdo que ultrapasse o máximo do container, na tela de login foi definido uma borda e como as "pontas" da imagem ultrapassavam a borda definida, ele acaba sendo escondido. Outro exemplo é criar uma caixa e o texto estar saindo dessa caixa, ao colocar o overflow hidden, ele irá esconder todo conteúdo que ultrapasse a caixa. */
}

.ajusta_login{
    padding: 5px;
}

.ajusta_entrada{
    height: 25px;
    width: 85%;
    border-radius: 15px;
    outline: none;
    border: 1px solid var(--lilas);
    font-size: 1.1em;
    padding-left: 8px;
}

#organiza_div{
    margin-top: 10px;
}

.ajusta_entrada::placeholder{
    font-size: 0.8em;
}

#botao_entrar{
    background-color: var(--verde);
    color: white;
}

.ajustes_botao2{
    border: 1px solid var(--verde);
    height: 33px;
    width: 260px;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
}

#botao_esqueceu{
    background-color: white;
    color: var(--verde);
}

.teste{
    height: 35px;
    width: 260px;
    background-color: #5f2c82;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}