*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
}

nav a{
    padding: 5px;
}

nav a:hover{
    border: 1px solid white;
    border-radius: 50%;
}

nav img{
  border-radius: 50%;
  max-width: 50px;  
}

