*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100vw;
}

a{
    padding: 10px 106px;
    width: 100vw;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

a:hover{
    color:rgba(255, 0, 0, 0.753);
    transition: 400ms;
}