@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Sriracha';
}

header{
    text-align: center;
    font-family: 'Passion One'; 
    background-color: black;
    color: white;
    padding: 40px;
    font-size: 2em;
}

header p{
    font-family: 'Verdana';
    font-size: 1rem;
    padding-bottom: 20px;
}

header a{
    color: white;
}

header a:hover{
    text-decoration: underline;
}

.altera_letra{
    font-size: 1.3em;
}

/* MAIN */

main{
    line-height: 60px
}

.altera_paragrafo{
    margin: 30px;
    font-size: 2em;
}

.efeito{
    background-color: rgba(0, 0, 0, 0.438);
    display: inline-block;
    padding: 8px;
    color: white;
    margin: 2vh;
}

.imagem{
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

#efeito_parallax_1{
    background-image: url('../imagens/background001.jpg');

}

#efeito_parallax_2{
    background-image: url('../imagens/background002.jpg');
}


@media (max-width: 650px){

    header{
        font-size: 1.6em;
        padding: 20px;
    }

    main{
        line-height: 40px
    }

    .altera_paragrafo{
        margin: 30px;
        font-size: 1.2em;
    }

    .efeito{
        padding: 20px;
    }
}

/* FOOTER */

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}