<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 11</title>

    <style>
        body{
            position: relative;
            background-image: url('/imagens/espaco.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        #conteudo{
            position: absolute;
            max-height: 50vh;
            background-repeat: no-repeat;
            left: 50%;
            transform: translate(-50%, 50%);
        }

    </style>
</head>
<body>

    <div id="conteudo">
        <img src="/imagens/astronauta.png" alt="astronauta">
    </div>


</body>
</html>