@charset "UTF-8";

@media (min-width: 768px){
    #menu{
        display: none;
    }

    #nav #navegacao{
        display: flex;
        justify-content: center;
        list-style: none;
        position: relative;
        transition: none;
        visibility: visible;
        height: auto;
        overflow: auto;
    }

    #navegacao > li{
        border-radius: 10px;
        margin-left: 5px;
    }

    main{
        max-width: 800px;
    }
}