@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(128, 128, 128, 0.281);
}

header{
    text-align: center;
    background-color: rgb(190, 185, 185);
}

header > h1{
    background-color: rgb(190, 185, 185);
    padding: 5px;
}

header > #nav > #navegacao > li{
    background-color: rgba(0, 0, 0, 0.658);
    padding: 10px;
    border-top: 1px rgba(255, 255, 255, 0.658) solid;
}

header > #nav > #navegacao > li:hover{
    background-color: rgba(0, 0, 0, 0.473);
    font-weight: bold;
}

header > #nav > #navegacao > li > a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

main{
    background-color: white;
    margin: auto;
    width: 90vw;
    border-radius: 10px;
}

article{
    margin: 30px 0px;
}

main > article > h1 {
    padding: 10px;
}

main > article > p{
    padding: 10px;
    text-indent: 25px;
    text-align: justify;
}

#nav{
    display: block;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 100%;
}

#nav #navegacao{
    display: block;
    background-color: rgb(190, 185, 185);
    position: absolute;
    width: 100vw;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    transition: .7s;
    height: 0px;
}

#nav.active #navegacao{

    visibility: visible;
    height: 196px;
}

#menu{
    background-color: black;
}

#btn-menu{
    margin-left: 20px;
    padding: 10px;
    background-color: black;
    cursor: pointer;
}

 /* Botão Hamburguer  */
#hamb{
    display: block;
    border-top: 2px solid;
    color: white;
    width: 20px;
}

#hamb::after, #hamb::before{
    display: block;
    content: '';
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
}

#nav.active #hamb{
    border-top-color: transparent;
}

#nav.active #hamb::before{
    transform: rotate(135deg);
    transition: .7s;
}

#nav.active #hamb::after{
    position: relative;
    transform: rotate(-135deg);
    top: -7px;
    transition: .7s;
}